
import { useNavigate } from "react-router-dom";
import { useEffect, useState } from 'react';
import axios from 'axios';
import Swal from 'sweetalert2'

function MemberList() {
    return (
        <div className="py-2">
            <div className="flex mt-[4.7rem] md:mt-0" >
                <div className="content">
                
                </div>
            </div>
        </div>

    )
}

export default MemberList
